RewriteEngine On
# Si el archivo o directorio existe, se sirve directamente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Si no existe, redirige a index.php
RewriteRule ^ index.php [QSA,L]